<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>pskintsugitax</name>
    <displayName>Kintsugi Sales Tax Override</displayName>
    <version>1.0.0</version>
    <author>Previn (previn@arcpromedia.com)</author>
    <tab>billing_invoicing</tab>
    <need_instance>0</need_instance>
    <description>Bypass PrestaShop native tax and use Kintsugi Sales Tax API.</description>
</module>